# Mark everything as vendored (ignored for language stats)
* linguist-vendored=true

# Include only the files in XMarksTheSpot/Assets/Scripts directory for language stats
XMarksTheSpot/Assets/Scripts/** linguist-vendored=C#
